{"swagger":"2.0","info":{"description":"FranConnect SKY REST API Developer Portal","version":"1.0","title":"FranConnect SKY REST API","termsOfService":"Terms of service","contact":{"name":"FranConnect"},"license":{"name":"FranConnect","url":"http://www.franconnect.com/license.txt"}},"host":"api.franconnectqa.net:8095","basePath":"/manage-finance","tags":[{"name":"Finance Category Api","description":"This API is for fetching the Financial, Non-Financial, Additional Invoice Items and Profit Loss Categories in the Finance Module"},{"name":"Finance Payment Api","description":"This Api is to support the Finance Payment based operation"},{"name":"Finance Royalty Api","description":"This Api is to support the Finance Royalty based operation"},{"name":"Finance Sales Api","description":"This Api is to support the Finance Sales based operation"},{"name":"profit-loss-controller","description":"Profit Loss Controller"}],"paths":{"/categories/addtional-items/franchiseeID/{id}/reportPeriod/{reportPeriod}":{"get":{"tags":["Finance Category Api"],"summary":"Get Additonal Invoice Items","description":"This method is to retrieve the Additional Invoice Items","operationId":"Get Additional Invoice Items","produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"ParameterType:Integer","required":false,"type":"integer","format":"int32","enum":["Integer"]},{"name":"reportPeriod","in":"path","description":"ParameterType:String","required":false,"type":"string","enum":["String"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,List«Map«string,object»»»»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/categories/kpis/franchiseeID/{id}/reportPeriod/{reportPeriod}":{"get":{"tags":["Finance Category Api"],"summary":"Get Non Finance Categories","description":"This method is to retrieve the Non Financial Categories","operationId":"Get Non Finance Categories","produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"ParameterType:Integer","required":false,"type":"integer","format":"int32","enum":["Integer"]},{"name":"reportPeriod","in":"path","description":"ParameterType:String","required":false,"type":"string","enum":["String"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,List«Map«string,object»»»»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/categories/profit-loss":{"get":{"tags":["Finance Category Api"],"summary":"Get Profit Loss Categories","description":"This method is to retrieve the Profit Loss Categories","operationId":"Get Profit Loss Categories","produces":["application/xml","application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,List«Map«string,object»»»»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/categories/sales/franchiseeID/{id}/reportPeriod/{reportPeriod}":{"get":{"tags":["Finance Category Api"],"summary":"Get Finance Categories","description":"This method is to retrieve the Financial Categories","operationId":"Get Finance Categories","produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"ParameterType:Integer","required":false,"type":"integer","format":"int32","enum":["Integer"]},{"name":"reportPeriod","in":"path","description":"ParameterType:String","required":false,"type":"string","enum":["String"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,List«Map«string,object»»»»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/payments/filter":{"post":{"tags":["Finance Payment Api"],"summary":"Get Payment and their Details","description":"This method is to retrieve the Finance Payment Records","operationId":"Get Payment and their Details","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"salesFilter","description":"ParameterType:PaymentFilter","required":false,"schema":{"$ref":"#/definitions/PaymentFilter"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/profit-loss":{"post":{"tags":["profit-loss-controller"],"summary":"Create New Profit/Loss Statement","description":"This method is to create the Finance Profit/Loss Record","operationId":"Create New Profit/Loss Statement","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"datalist","description":"ParameterType:ArrayList<Entity>","required":false,"schema":{"type":"array","items":{"$ref":"#/definitions/Map«string,object»"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/profit-loss/filter":{"post":{"tags":["profit-loss-controller"],"summary":"Get Profit/Loss Statements and their Details","description":"This method is to retrieve the ProfitLoss Records","operationId":"Get Profit/Loss Statements and their Details","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"profitLossFilter","description":"ParameterType:ProfitLossFilter","required":false,"schema":{"$ref":"#/definitions/ProfitLossFilter"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/profit-loss/periods/franchisee/{id}":{"get":{"tags":["profit-loss-controller"],"summary":"Get Location Avaiable Report Periods","description":"This method is to retrieve the Location Avaiable Report Periods","operationId":"Get Location Avaiable Report Periods","produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"ParameterType:Integer","required":false,"type":"integer","format":"int32","enum":["Integer"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«List«Map«string,string»»»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/profit-loss/{id}":{"put":{"tags":["profit-loss-controller"],"summary":"Update Existing Profit/Loss Statement","description":"This method is to update the Finance Profit/Loss Record","operationId":"Update Existing Profit/Loss Statement","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"datalist","description":"ParameterType:ArrayList<Entity>","required":false,"schema":{"type":"array","items":{"$ref":"#/definitions/Map«string,object»"}}},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/royalties/filter":{"post":{"tags":["Finance Royalty Api"],"summary":"Get Royalty and their Details","description":"This method is to retrieve the Finance Royalty Records","operationId":"Get Royalty and their Details","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"salesFilter","description":"ParameterType:PaymentFilter","required":false,"schema":{"$ref":"#/definitions/RoyaltyFilter"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/royalties/status":{"get":{"tags":["Finance Royalty Api"],"summary":"Get Sales Report Statuses","description":"This endpoint is to retrieve the Sales Report Statuses","operationId":"Get Sales Report Statuses","produces":["application/xml","application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/sales":{"post":{"tags":["Finance Sales Api"],"summary":"Create New Sales Report","description":"This method is to create the Finance Sales Record","operationId":"Create New Sales Report","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"datalist","description":"ParameterType:ArrayList<Entity>","required":false,"schema":{"type":"array","items":{"$ref":"#/definitions/Map«string,object»"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/sales/filter":{"post":{"tags":["Finance Sales Api"],"summary":"Get Sales & their Details","description":"This method is to retrieve the Finance Sales Records","operationId":"Get Sales & their Details","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"salesFilter","description":"ParameterType:SalesFilter","required":false,"schema":{"$ref":"#/definitions/SalesFilter"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/sales/periods/franchisee/{id}":{"get":{"tags":["Finance Sales Api"],"summary":"Get Location Avaiable Report Periods","description":"This method is to retrieve the Location Avaiable Report Periods","operationId":"Get Location Avaiable Report Periods_1","produces":["application/xml","application/json"],"parameters":[{"name":"id","in":"path","description":"ParameterType:Integer","required":false,"type":"integer","format":"int32","enum":["Integer"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«List«Map«string,string»»»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/sales/status":{"get":{"tags":["Finance Sales Api"],"summary":"Get Sales Report Statuses","description":"This endpoint is to retrieve the Sales Report Statuses","operationId":"Get Sales Report Statuses_1","produces":["application/xml","application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/sales/type":{"get":{"tags":["Finance Sales Api"],"summary":"Get Sales Report Types","description":"This endpoint is to retrieve the Sales Report Types","operationId":"Get Sales Report Types","produces":["application/xml","application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/sales/{id}":{"put":{"tags":["Finance Sales Api"],"summary":"Update Existing Sales Report","description":"This method is to update the Finance Sales Record","operationId":"Update Existing Sales Report","consumes":["application/json"],"produces":["application/xml","application/json"],"parameters":[{"in":"body","name":"datalist","description":"ParameterType:ArrayList<Entity>","required":false,"schema":{"type":"array","items":{"$ref":"#/definitions/Map«string,object»"}}},{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Result«List«Map«string,object»»»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"definitions":{"Character":{"type":"object","title":"Character"},"FilterConstraint":{"type":"object","title":"FilterConstraint","description":"This model is used for filter-contraints having field operation and values  "},"Map«string,List«Map«string,object»»»":{"type":"object","title":"Map«string,List«Map«string,object»»»","additionalProperties":{"$ref":"#/definitions/List"}},"Map«string,object»":{"type":"object","title":"Map«string,object»","additionalProperties":{"type":"object"}},"Map«string,string»":{"type":"object","title":"Map«string,string»","additionalProperties":{"type":"string"}},"Page":{"type":"object","properties":{"groupBy":{"type":"string"},"pageId":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalPages":{"type":"integer","format":"int64"},"totalRecords":{"type":"integer","format":"int64"},"viewAll":{"type":"boolean"}},"title":"Page"},"PaymentFilter":{"type":"object","properties":{"constraints":{"type":"object","example":"format: {db_field:{operation:dataValue}","xml":{"name":"constraints","attribute":false,"wrapped":false},"description":"page","allowEmptyValue":false,"additionalProperties":{"$ref":"#/definitions/FilterConstraint"}},"dateApplied":{"type":"array","items":{"type":"string","format":"date-time"}},"fields":{"type":"array","xml":{"name":"fields","attribute":false,"wrapped":false},"description":"fields","allowEmptyValue":false,"items":{"type":"string"}},"franchiseeNo":{"type":"array","items":{"type":"integer","format":"int32"}},"invoiceNo":{"type":"array","items":{"type":"integer","format":"int32"}},"page":{"xml":{"name":"page","attribute":false,"wrapped":false},"description":"page","allowEmptyValue":false,"$ref":"#/definitions/Page"}},"title":"PaymentFilter","description":"Provides the filter parameter"},"ProfitLossFilter":{"type":"object","properties":{"constraints":{"type":"object","example":"format: {db_field:{operation:dataValue}","xml":{"name":"constraints","attribute":false,"wrapped":false},"description":"page","allowEmptyValue":false,"additionalProperties":{"$ref":"#/definitions/FilterConstraint"}},"endDate":{"type":"string","format":"date-time"},"fields":{"type":"array","xml":{"name":"fields","attribute":false,"wrapped":false},"description":"fields","allowEmptyValue":false,"items":{"type":"string"}},"franchisesNo":{"type":"array","items":{"type":"integer","format":"int32"}},"page":{"xml":{"name":"page","attribute":false,"wrapped":false},"description":"page","allowEmptyValue":false,"$ref":"#/definitions/Page"},"plrepId":{"type":"array","items":{"type":"integer","format":"int32"}},"startDate":{"type":"string","format":"date-time"},"storeType":{"type":"array","items":{"$ref":"#/definitions/Character"}},"submissionDate":{"type":"string","format":"date-time"}},"title":"ProfitLossFilter","description":"Provides the filter parameter"},"Response«Result«List«List«Map«string,string»»»»»":{"type":"object","properties":{"response":{"$ref":"#/definitions/Result«List«List«Map«string,string»»»»"}},"title":"Response«Result«List«List«Map«string,string»»»»»"},"Response«Result«List«Map«string,List«Map«string,object»»»»»»":{"type":"object","properties":{"response":{"$ref":"#/definitions/Result«List«Map«string,List«Map«string,object»»»»»"}},"title":"Response«Result«List«Map«string,List«Map«string,object»»»»»»"},"Response«Result«List«Map«string,object»»»»":{"type":"object","properties":{"response":{"$ref":"#/definitions/Result«List«Map«string,object»»»"}},"title":"Response«Result«List«Map«string,object»»»»"},"Result«List«List«Map«string,string»»»»":{"type":"object","properties":{"data":{"type":"array","xml":{"name":"data","attribute":false,"wrapped":false},"items":{"type":"array","items":{"$ref":"#/definitions/Map«string,string»"}}},"page":{"xml":{"name":"page","attribute":false,"wrapped":false},"$ref":"#/definitions/Page"}},"title":"Result«List«List«Map«string,string»»»»","description":"Return the Result of anyType along with data & Page attribute"},"Result«List«Map«string,List«Map«string,object»»»»»":{"type":"object","properties":{"data":{"type":"array","xml":{"name":"data","attribute":false,"wrapped":false},"items":{"$ref":"#/definitions/Map«string,List«Map«string,object»»»"}},"page":{"xml":{"name":"page","attribute":false,"wrapped":false},"$ref":"#/definitions/Page"}},"title":"Result«List«Map«string,List«Map«string,object»»»»»","description":"Return the Result of anyType along with data & Page attribute"},"Result«List«Map«string,object»»»":{"type":"object","properties":{"data":{"type":"array","xml":{"name":"data","attribute":false,"wrapped":false},"items":{"$ref":"#/definitions/Map«string,object»"}},"page":{"xml":{"name":"page","attribute":false,"wrapped":false},"$ref":"#/definitions/Page"}},"title":"Result«List«Map«string,object»»»","description":"Return the Result of anyType along with data & Page attribute"},"RoyaltyFilter":{"type":"object","properties":{"constraints":{"type":"object","example":"format: {db_field:{operation:dataValue}","xml":{"name":"constraints","attribute":false,"wrapped":false},"description":"page","allowEmptyValue":false,"additionalProperties":{"$ref":"#/definitions/FilterConstraint"}},"fields":{"type":"array","xml":{"name":"fields","attribute":false,"wrapped":false},"description":"fields","allowEmptyValue":false,"items":{"type":"string"}},"franchiseeNo":{"type":"array","items":{"type":"integer","format":"int32"}},"invoiceDate":{"type":"array","items":{"type":"string","format":"date-time"}},"page":{"xml":{"name":"page","attribute":false,"wrapped":false},"description":"page","allowEmptyValue":false,"$ref":"#/definitions/Page"},"paymentStatus":{"$ref":"#/definitions/Character"}},"title":"RoyaltyFilter","description":"Provides the filter parameter"},"SalesFilter":{"type":"object","properties":{"constraints":{"type":"object","example":"format: {db_field:{operation:dataValue}","xml":{"name":"constraints","attribute":false,"wrapped":false},"description":"page","allowEmptyValue":false,"additionalProperties":{"$ref":"#/definitions/FilterConstraint"}},"fields":{"type":"array","xml":{"name":"fields","attribute":false,"wrapped":false},"description":"fields","allowEmptyValue":false,"items":{"type":"string"}},"franchiseeNo":{"type":"array","items":{"type":"integer","format":"int32"}},"page":{"xml":{"name":"page","attribute":false,"wrapped":false},"description":"page","allowEmptyValue":false,"$ref":"#/definitions/Page"},"reportPeriodEnd":{"type":"array","items":{"type":"string","format":"date-time"}},"reportPeriodStart":{"type":"array","items":{"type":"string","format":"date-time"}},"reportSubmitDate":{"type":"array","items":{"type":"string","format":"date-time"}},"reportType":{"type":"array","items":{"$ref":"#/definitions/Character"}},"salesReportID":{"type":"array","items":{"type":"integer","format":"int32"}},"totalSales":{"type":"array","items":{"type":"integer","format":"int32"}}},"title":"SalesFilter","description":"Provides the filter parameter"},"Sort":{"type":"object","properties":{"columns":{"type":"array","items":{"type":"string"}},"direction":{"type":"string","enum":["ASC","DESC"]}},"title":"Sort"}}}
